node_modules
.pnpm-store
.turbo
dist
coverage
storybook-static
.DS_Store
.env
.env.*
!.env.example
!apps/demo/dist/
!apps/demo/dist/**
!apps/storybook/storybook-static/
!apps/storybook/storybook-static/**
playwright-report
test-results

*storybook.log
